Unreal/Metahumans/Content/Metahumans/Common/Face/Face_Archetype.uasset filter=lfs diff=lfs merge=lfs -text
Unreal/Metahumans/Content/Metahumans/Zeva/Face/Zeva_FaceMesh.uasset filter=lfs diff=lfs merge=lfs -text
